<template>
  <header>
    <div class="nav navbar bg-body-tertiary"></div>
  </header>
  <RouterView />
</template>

<script>
import ApiService from './api/api.service.js'
export default {
  methods: {
    test(){
      ApiService.test()
    }
  }
}
</script>



<style scoped>
</style>
