
<template>
  <div class="container-fluid w-auto bg-gradient bg-light p-4">
    <div class="row">
      <div class="col-2">
        <div class="row">
          <button class="btn btn-primary" @click="createTestData">Сгенерировать тестовые данные</button>
        </div>
        <div class="row">
          <div class="mb-3">
            <label for="filterOnFIO" class="form-label">Фамилия</label>
            <input type="text" class="form-control" v-model="filterLastName" @input="getUsers">
          </div>
          <div class="mb-3">
            <label for="filterOnFIO" class="form-label">Имя</label>
            <input type="text" class="form-control" v-model="filterFirstName" @input="getUsers">
          </div>
          <div class="mb-3">
            <label for="filterOnFIO" class="form-label">Отчество</label>
            <input type="text" class="form-control" v-model="filterMiddleName" @input="getUsers">
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <label for="filterOnActive" class="form-label">Активный пользователь</label>

            <div class="btn-group" role="group">
              <input type="radio" class="btn-check" value='all' v-model="filterActive" name="btnradio" id="btnradio3" autocomplete="off" @change="getUsers">
              <label class="btn btn-outline-primary" for="btnradio3">Все</label>

              <input type="radio" class="btn-check" value='true' v-model="filterActive" name="btnradio" id="btnradio1" autocomplete="off" @change="getUsers">
              <label class="btn btn-outline-primary" for="btnradio1">Акивный</label>

              <input type="radio" class="btn-check" value='false' v-model="filterActive" name="btnradio" id="btnradio2" autocomplete="off" @change="getUsers">
              <label class="btn btn-outline-primary" for="btnradio2">Не активный</label>
            </div>
          </div>
        </div>
        <div class="row">
            <VueDatePicker v-model="date" range multi-calendars />
          <div class="mb-3">
            <label for="filterOnLastLogin" class="form-label">Последний вход</label>
            <input type="email" class="form-control" id="exampleInputEmail1">

          </div>
        </div>
      </div>
      <div class="col-10">
        <span>Список пользователей</span>
        <table class="table table-dark table-hover table-striped">
          <thead>
          <tr>
            <th scope="col" :class="{'bg-primary': sortBy === 'id_user'}" @click="clickOnColumnHeader('id_user')"># <span v-if="sortBy === 'id_user'">{{ sortOnASC ? '↓' : '↑' }}</span></th>
            <th scope="col" :class="{'bg-primary': sortBy === 'first_name'}" @click="clickOnColumnHeader('first_name')">Имя <span v-if="sortBy === 'first_name'">{{ sortOnASC ? '↓' : '↑' }}</span></th>
            <th scope="col" :class="{'bg-primary': sortBy === 'second_name'}" @click="clickOnColumnHeader('second_name')">Фамилия <span v-if="sortBy === 'second_name'">{{ sortOnASC ? '↓' : '↑' }}</span></th>
            <th scope="col" :class="{'bg-primary': sortBy === 'middle_name'}" @click="clickOnColumnHeader('middle_name')">Отчество <span v-if="sortBy === 'middle_name'">{{ sortOnASC ? '↓' : '↑' }}</span></th>
            <th scope="col" :class="{'bg-primary': sortBy === 'is_active'}" @click="clickOnColumnHeader('is_active')">Активность <span v-if="sortBy === 'is_active'">{{ sortOnASC ? '↓' : '↑' }}</span></th>
            <th scope="col" :class="{'bg-primary': sortBy === 'last_visitors'}" @click="clickOnColumnHeader('last_visitors')">Последний вход <span v-if="sortBy === 'last_visitors'">{{ sortOnASC ? '↓' : '↑' }}</span></th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="loadingData">
            <th scope="row"><span class="placeholder col-12"></span></th>
            <th><span class="placeholder col-8"></span></th>
            <th><span class="placeholder col-8"></span></th>
            <th><span class="placeholder col-8"></span></th>
            <th><span class="placeholder col-8"></span></th>
            <th><span class="placeholder col-8"></span></th>
          </tr>
          <tr v-for="user in users.users">
            <th scope="row" >{{user.id_user}}</th>
            <td>{{user.first_name}}</td>
            <td>{{user.second_name}}</td>
            <td>{{user.middle_name}}</td>
            <td>{{user.is_active ? 'Активный' : 'Не активный'}}</td>
            <td>{{user.last_visitors.date}}</td>
          </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item" @click="currentPage--"><a class="page-link">Previous</a></li>
            <li class="page-item" :class="{'active': currentPage + 1 === n}" @click="currentPage = n-1" v-for="n in users.count"><a class="page-link">{{n}}</a></li>
            <li class="page-item" @click="currentPage++"><a class="page-link">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</template>

<script>
import ApiService from "@/api/api.service.js";
import {getDate} from "date-fns";
export default {
  data() {
    return {
      users: [],
      loadingData: false,
      filterFirstName: null,
      filterLastName: null,
      filterMiddleName: null,
      filterFIO: null,
      filterActive: 'all',
      filterLastLogin: null,
      sortBy: 'id_user',
      sortOnASC: true,
      currentPage: 0,
      offset: 25,
      dateRange: null,
      date: null
    }
  },
  methods: {
    clickOnColumnHeader(valueSortBy) {
      if(this.sortBy === valueSortBy) {
        this.sortOnASC = !this.sortOnASC
      }
      this.sortBy = valueSortBy
    },
    createTestData() {
      this.loadingData = true;
      ApiService.createTestData()
          .then(this.getUsers())
          .catch()
          .finally(() => {this.loadingData = false});
    },
    getUsers(resetOffset = true) {
      if(resetOffset)
      {
        this.currentPage = 0
      }
      this.loadingData = true;
      this.users.users = []

      let filters = {
        'first_name': this.filterFirstName,
        'second_name': this.filterLastName,
        'middle_name': this.filterMiddleName,
        'is_active': this.filterActive === 'all' ? null : this.filterActive,
        'lastLogin': this.filterLastLogin,
        'propertySort': this.sortBy,
        'sortType': this.sortOnASC ? 'ASC' : 'DESC',
        'last_visitors': this.dateRange}
      let params = {filters, offset: this.offset * this.currentPage}
      ApiService.getUserByFileds(params)
          .then(response => {this.users = response
            this.loadingData = false})
          .catch()
          .finally(() => {});
    }
  },
  mounted() {
    this.getUsers()
  },

  watch: {
    sortBy() {
      this.getUsers()
    },
    sortOnASC() {
      this.getUsers()
    },
    currentPage()
    {
      this.getUsers(false)
    },
    date(value)
    {
      if(value)
      {
        this.dateRange = [];
        this.dateRange.push(`${value[0].getFullYear()}-${value[0].getMonth()+1}-${value[0].getDate()}`)
        this.dateRange.push(`${value[1].getFullYear()}-${value[1].getMonth()+1}-${value[1].getDate()}`)
      }
      else
      {
        this.dateRange = null
      }
      this.getUsers();
    }
  }
}
</script>

